* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins" , sans-serif;
}
body{
    padding: 0;
    margin: 0;
    background-color: #191919;
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}
.sidebar {
    height: 100%;
    width: 78px;
    background-color: #222222;
    position: fixed;
    top: 0;
    left: 0;
    padding: 6px 14px;
    transition: all 0.5s ease;
}
.sidebar.active {
    width: 240px;
}
.logo {
    color: white;
    align-items: center;
    display: flex;
}
.sidebar .logo {
    height: 58px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}
.sidebar.active .logo {
    opacity: 1;
    pointer-events: 5px;
}
.sidebar #btn {
    color: white;
    position: absolute;
    left: 50%;
    top: 10px;
    font-size: 28px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}
.sidebar.active #btn {
    left: 90%;
}
.sidebar ul {
    margin-top: 100px;
}
.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
    transition: all 0.5s ease;
}
.sidebar .links_name {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}
.sidebar.active .links_name {
    opacity: 1;
    pointer-events: auto;
}
.sidebar ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}
.sidebar ul li a:hover {
    background: #fff;
    color: #11101d;
}
.sidebar ul li a i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}
.sidebar .profile_content {
    position: absolute;
    color: white;
    bottom: 0;
    left: 0;
    width: 100%;
}
.sidebar .profile_content .profile {
    position: relative;
    padding: 10px 6px;
    height: 60px;
    transition: all 0.5s ease;
}
.profile_content .profile .profile_details {
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}
.sidebar.active .profile .profile_details {
    opacity: 1;
    pointer-events: auto;
}
.profile .profile_details img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}
.profile .profile_details .name_container {
    margin-left: 10px;
}
.profile .profile_details .name {
    font-size: 15px;
    font-weight: 400;
}
.profile .profile_details .paket {
    font-size: 12px;
}
.profile #log_out {
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
}
.sidebar.active .profile #log_out {
    left: 88%;
}
.konten {
    position: absolute;
    height: 100%;
    color: white;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}
.sidebar.active ~ .konten{
    width: calc(100% - 240px);
    left: 240px;
}
.levi {
    width: 944px;
    height: 387px;
    top: 133px;
}
.social {
    position: absolute;
    width: 424px;
    height: 1059px;
    left: 1400px;
    top: 133px;

    background: #222222;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    border-radius: 42px;
    text-align: center;
    color: white;
}
.social .tulisan {
    margin-top: 30px;
    left: 30px;
    color: rgba(255, 255, 255, 0.2);
    padding: 20px;
}
.lastanime {
    background-color: #383838;
    margin: 20px;
    padding: 20px;
    border-radius: 33px;
}
.anime_populer {
    color: white;
    position: absolute;
    width: 944px;
    height: 290px;
    left: 40px;
    top: 583px;
}
.list-container {
    display: flex;
}
.jojo .kakegurui .violet {
    margin-left: 28px;
}